@model AKwebapplication.Models.Home

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Delete</h2>




<div>
    <h4>Are you sure you want to delete this person?</h4>
    <h4>@Model.Name</h4>
    <p>
        <strong>Mobile:</strong> @Model.Mobile <br />
        <strong>Occupation:</strong> @Model.Occupation <br />
        <!-- Add any other details you want to display -->
    </p>
</div>

@using (Html.BeginForm("Delete", "Home", new { id = Model.Id }))
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}
